/* .container {
  height: 700px;
  width: 700px;
} */
.text-area-main {
  /* height: 70vh;
  width: 70vh; */
  overflow-y: scroll;
}
.btn-group {
  float: right;
  margin-right: 23.8vw;
  margin-top: 0.5vw;
  margin-bottom: 0.2vw;
}
